* {
    padding: 0;
    margin: 0;
}

.main {
    background: url(fundo.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-decoration: none;
    font-family:"Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px; /* Aumenta o tamanho da fonte */

}
.txt h3{
font-size: 30px;

}

.txt h5 {
    margin-top: 15px;
    font-size: 24px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13%;
    padding-top: 4%;
    padding-left: 5%;
}

.navbar-links a {
    margin-top: 15px;
    align-self: flex-start;  
    color: #fff; ;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    text-decoration: none;
}

.nav-item {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.nav-item a {
    position: relative; 
    margin-right: 20px;
    margin-left: 50px;
    border-radius: 10px;  
    width: 150px;
    height: 150px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Adiciona sombra */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}

.links-dashboard a  {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FFF;
    font-size: 12px; 
    font-weight: 700;
    text-align: center;
}

.links-dashboard:hover {
    color: lightblue;
    transition: color 0.3s ease;
}
