/* ODS.css */


/* Estilo para o contêiner principal */
.logo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Substitua <weight> pelo valor desejado, como por exemplo, 400 */
    font-style: normal;
    text-align:left ; /* Centralizar o conteúdo */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para o título */
.logo h2 {
    margin-top: 25px;
    color: #333; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;

     font-style: normal;
    text-align: center;
    font-size: 28px; /* Tamanho da fonte */
}

/* Estilo para o texto */
.logo p {
    color: #666; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para as imagens */
.logo img {
    max-width: 90%; 
    height: auto; 
    margin-bottom: 15px;
    margin-left: 10%; 
    justify-content: center;
}

/* Estilo para cada objetivo */
/* ODS.css */

/* Estilo para o contêiner principal */
.ods {
    margin-top: 10px; /* Espaçamento superior */
}

/* Estilo para cada item de ODS */
.ods {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Substitua <weight> pelo valor desejado, como por exemplo, 400 */
    font-style: normal;
    background-color: #f9f9f9; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para o título de cada ODS */
.ods strong {
    color: #333; 
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilo para o texto de cada ODS */
.ods p {
    color: #666; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:20px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
    padding: 5px;
}

